/*todo Adjust the size of dots and background size for larger screens */
@media (min-width: 1440px) {
    body {
        background: radial-gradient(
            var(--bg-dot-color) 1.5px,
            var(--bg-color) 1.5px
        ); /* Increase dot size */
        background-size: 20px 20px; /* Increase grid spacing */
        background-attachment: fixed; /* Ensure parallax effect remains */
    }
}

@media (min-width: 1920px) {
    body {
        background: radial-gradient(
            var(--bg-dot-color) 2.32px,
            var(--bg-color) 2.32px
        ); /* Further increase dot size */
        background-size: 28px 28px; /* Increase grid spacing */
        background-attachment: fixed; /* Ensure parallax effect remains */
    }
}

@media (min-width: 2560px) {
    body {
        background: radial-gradient(
            var(--bg-dot-color) 3.5px,
            var(--bg-color) 3.5px
        ); /* Even larger dot size */
        background-size: 32px 32px; /* Further increase grid spacing */
        background-attachment: fixed; /* Ensure parallax effect remains */
    }
}
/*todo Adjust the size of dots and background size for larger screens */
